<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testsite</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<form class="form-create" action="/" method="post">
<h2 class="form-create-heading">Create new Jenkins job</h2>
<input type="text" class="form-control" name="jobname" placeholder="Name of new Jenkins job" required="" autofocus="" />
<input type="text" class="form-control" name="gitrep" placeholder="Link to Git repository" required=""/>
<label class="checkbox">
    <input type="checkbox" value="findbugs" id="findBugs" name="findBugs"> Findbugs
    <input type="checkbox" value="checkstyle" id="checkStyle" name="checkStyle"> Checkstyle
</label>
<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Create new job</button>
</form>
</div>
</body>
</html>