<!DOCTYPE html>
<html lang="en">
<!-- All images included in the project is free for commercial use -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <!-- JS -->
    <script src="../public/javascripts/jobCreator.js"></script>
    <script src="../public/javascripts/updateResults.js"></script>
    <title>Continuous integration for GIT repositories</title>
</head>

<header>
    <!-- Kod för navigationsmeny-->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mb-0" href="#">Continuous integration</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#gitForm">Add Git Repository</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testReport">View test results</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>


<body id="frontPage">
<!-- This is the div that I want to center verically between the navigation bar and the div bellow-->
<div id="flexh">
    <!-- <div class="col-6 .col-md-6">-->
    <h1 id="headLine">Let us exam your Git repositories</h1>
</div>

<div id="gitForm">
    <div class="Aligner">
        <div class="container h-100 d-flex justify-content-center">
            <div class="col-md-6">
                <div class=card>
                    <div class="card-block">
                        <form class="form-create" action="/" method="post">
                            <div class="form-group">
                                <label id="nameLabel" for="projectNameInput">Name your
                                    project</label>
                                <input type="text" class="form-control" name="jobname" id="projectNameInput"
                                       placeholder="Enter a A project name you can live with">
                            </div>
                            <div class="form-group">
                                <label id="gitLabel" for="repoInput">Enter your Git
                                    repository</label>
                                <input type="text" class="form-control" name="gitrep" id=repoInput
                                       placeholder="A valid Gitrepo...">
                            </div>

                            <div id="chooseTest">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-success dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Choose Test
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="btn btn-outline-success dropdown-item" id="dropDownJava" href="#mavenForm">Java</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Ska bara komma fram vid JavaMaven -->
                            <div id="mavenForm">
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="FindBugs">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ml-4">FindBugs</span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="CheckStyle">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ml-4">CheckStyle</span>
                                        </label>
                                    </div>
                                    <!--      $('.FindBugs').prop('indeterminate', true)     -->
                                    <!--      $('.CheckStyle').prop('indeterminate', true)     -->
                                    <button class="btn btn-outline-success" id="submitRepo"
                                            onclick="storeRepo()"
                                            type="submit" value="Submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


