<body id="resultsPage">
<header>

</header>
<main>
    <div class="container-fluid">
        <div id="resultsTable">
            <div class="table-responsive">
                <table class=" rounded table table-striped hover table-sm table-bordered data-table">
                    <thead id="semiBlackHead">
                    <tr>
                        <th class="col-md-5ths col-xs-6">Project</th>
                        <th class="col-md-5ths col-xs-6">Last push</th>
                        <th class="col-md-2ths col-xs-6">Bugs</th>
                        <th class="col-md-2ths col-xs-6">Style errors</th>
                        <th class="col-md-5ths col-xs-6">Details</th>
                    </tr>
                    </thead>
                    <tbody id="bleachedBody">
                    {{{insertRow}}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>

</body>