.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    font-family: "Abril Fatface";
    font-size: 20px;

}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

label {
    font-family: 'Karla', sans-serif;
    font-size: 1.1em;
    color: #ffffff;
}

/* I am trying to center a div between the navigation bar and div "gitForm, with .flexwrap and .flex-centered*/

/* #headLine is the id of the text that is placed inside the div that I am trying to center.*/
#headLine {

    font-family: "Abril Fatface";
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 1%;
    color: #ffffff;
    border-radius: 25px;
}

/* I am using aligner to center the div in the middle of the screen.*/
.Aligner {
    display: flex;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
}

.Aligner-item {
    flex: 1;
}

.card {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 25px !important;

}

.custom-checkbox .custom-control-indicator {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #2c2b2c;
}

.custom-control-description {
    line-height: 2;

}

/* When I remove background the icon goes back to that default size */
.custom-control-input:checked ~ .custom-control-indicator {
    background-color: lime !important;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 544px) {
    body {
        background: url("../images/london.jpg");
        /* Free for commercial use: Photo by Lionel Paulus on Unsplash.com*/
        height: 100vh;

    }

    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {

    }

    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {

        body {
            background: url("../images/largeScreen.jpg");
            /* Free for commercial use: Photo by Lionel Paulus on Unsplash.com
            https://unsplash.com/photos/da70lgFwlro*/
            height: 100vh;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* Free for commercial use: Photo by Lionel Paulus on Unsplash.com*/

            /* Center and scale the image nicely */

        }
    }


    /*Extremly large devices>*/
    @media (min-width: 1920px) {

        body {
            background: url("../images/largeScreen.jpg");
        }
    }
}