/* indexd.hbs */

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;

}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

label {
    font-family: 'Karla', sans-serif;
    font-size: 1.1em;
    color: #ffffff;
}

/* I am trying to center a div between the navigation bar and div "gitForm, with .flexwrap and .flex-centered*/

/* #headLine is the id of the text that is placed inside the div that I am trying to center.*/
#headLine {

    font-family: 'Abril Fatface', cursive;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 1%;
    margin-top: 10vh;
    color: #ffffff;
    border-radius: 25px;
}

/* I am using aligner to center the div in the middle of the screen.*/
.Aligner {
    display: flex;
    align-items: center;
    min-height: 80vh;
    justify-content: center;
}

.Aligner-item {
    flex: 1;
}
.card {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 25px !important;

}

.custom-checkbox .custom-control-indicator {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #2c2b2c;
}

.custom-control-description {
    line-height: 2;

}

/* When I remove background the icon goes back to that default size */
.custom-control-input:checked ~ .custom-control-indicator {
    background-color: lime !important;
}

/* results.hbs */
#resultsPage {
    background: url("../images/skyline.jpg");
    background-size: cover;
}
#semiBlackHead{
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Karla', sans-serif;
    color: #ffffff;

}
#choiceBtn{
    margin-bottom:
            10%;
}

#regret{
    margin-left: 20%;
}

.th {
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.5);
}

#semiBlackHead {

}

#bleachedBody {
    background-color: rgba(255, 255, 255, 0.9);
    background-size: cover;
    text-align: center;
    background-blend-mode: soft-light;

}

#resultsTable {
    border-radius: 25px;
    width: 90%;
    padding-top: 1%;
    margin: 0px auto;
    float: none;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after {
    padding: 5px;
}

.dataTables_wrapper .mdb-select {
    border: none;
}

.dataTables_wrapper .mdb-select.form-control {
    padding-top: 0;
    margin-top: -1rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.dataTables_length label {
    display: flex;
    justify-content: left;
}

.dataTables_filter label {
    margin-bottom: 0;
}

.dataTables_filter label input.form-control {
    margin-top: -0.6rem;
    padding-bottom: 0;
}

table.dataTable {
    margin-bottom: 3rem !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 544px) {
    #frontPage {
        background: url("../images/london.jpg");
        /* Free for commercial use: Photo by Lionel Paulus on Unsplash.com*/
        height: 100vh;

    }

    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {

    }

    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {

        #frontPage {
            background: url("../images/largeScreen.jpg");

            /* Free for commercial use: Photo by Lionel Paulus on Unsplash.com
            https://unsplash.com/photos/da70lgFwlro*/
            height: 100vh;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* Free for commercial use: Photo by Lionel Paulus on Unsplash.com*/

            /* Center and scale the image nicely */

        }
    }
    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-5ths {
        width: 26%;
        float: left;
    }
    @media (min-width: 768px) {
        .col-sm-5ths {
            width: 26%;
            float: left;
        }
    }
    @media (min-width: 992px) {
        .col-md-5ths {
            width: 26%;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        .col-lg-5ths {
            width: 26%;
            float: left;
        }
    }

    .col-xs-2ths,
    .col-sm-2ths,
    .col-md-2ths,
    .col-lg-2ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-2ths {
        width: 11%;
        float: left;
    }
    @media (min-width: 768px) {
        .col-sm-2ths {
            width: 11%;
            float: left;
        }
    }
    @media (min-width: 992px) {
        .col-md-2ths {
            width: 11%;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        .col-lg-2ths {
            width: 11%;
            float: left;
        }
    }


    /*Extremly large devices>*/
    @media (min-width: 1920px) {

        #frontPage {
            background: url("../images/largeScreen.jpg");
            background-size: cover;
        }
    }
    @media (min-width: 2100px) {

        #frontPage {
            background: url("../images/londonWide.jpg");
            background-size: cover;
        }
    }
}